<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tracker"
        android:label="track"
        android:roundIcon="@drawable/tracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sampleapp"
        tools:targetApi="31">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAi1FGiyFbXFIFvl3MqH8v2BAfHJLfHzbU" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".demoadmin"
            />
        <activity
            android:name=".demoadmin"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".demo1_mainactivity"
            android:exported="false" />
        <activity
            android:name=".login_pass"
            android:exported="false"
            android:parentActivityName=".login_email" />
        <activity
            android:name=".login_email"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>